<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="/static/css/style.css?v=2">
</head>
<body>
<div class="container">

<header>
    <h1>Weather App</h1>

    <div>
        <input
            id="location"
            type="text"
            placeholder="Enter a city, postcode, country, or coordinates"
        >
        <button id="search-button">Search</button>
    </div>
    
    <button id="current-location-button">
        Use My Location
    </button>

    <p id="error-message"></p>
</header>

    <h2 id="location-name"></h2>

    <section id="hourly-forecast">
        <h2>Hourly Forecast</h2>
        <div id="hourly-forecast-container"></div>
    </section>

    <section id="daily-forecast">
        <h2>Daily Forecast</h2>
        <div id="daily-forecast-container"></div>
    </section>
</div>

    <script src="/static/js/weatherUtils.js"></script>
    <script src="/static/js/script.js?v=3"></script>
</body>
</html>